h1,
h2 {
  font-style: normal;
  font-weight: 900;
  color: black;
  font-family: "Righteous", serif;
  padding: 2rem;
  font-size: 5em;
  text-shadow: 0.03em 0.03em 0 turquoise;
}
body {
  background-color: transparent;
  background: url("../images/glassrain.jpeg") fixed no-repeat;
  background-size: cover;
  max-height: 300rem;

  border-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(rgba(255, 255, 255, 0.75)),
    color-stop(0%, rgba(245, 245, 245, 0.75)),
    color-stop(16.6%, rgba(245, 245, 245, 0.75)),
    color-stop(37.8%, rgb(245, 245, 245)),
    color-stop(48.8%, rgb(245, 245, 245)),
    color-stop(53.1%, rgb(254, 254, 254)),
    color-stop(79.4%, rgba(245, 245, 245, 0.75)),
    color-stop(84.3%, rgba(245, 245, 245, 0.75))
  ) !important;
  border-image: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.75) 0%,
    rgba(245, 245, 245, 0.75) 0%,
    rgba(245, 245, 245, 0.75) 16.6%,
    rgb(245, 245, 245) 37.8%,
    rgb(245, 245, 245) 48.8%,
    rgb(254, 254, 254) 53.1%,
    rgba(245, 245, 245, 0.75) 79.4%,
    rgba(245, 245, 245, 0.75) 84.3%
  ) !important;
  border-image-slice: 1 !important;
}
.top,
.container {
  background: linear-gradient(to top, coral, lightblue);
  /*opacity: 94%;*/
  text-align: center;
}
.button {
  background-color: rgb(192, 192, 192) !important;
  color: #000 !important;
  border: none;
  display: block;
  padding: 8px 16px 5px;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  border-radius: none;
  margin: 0;
  float: left;
}
a {
  /*text-decoration: none;*/
  /*opacity: 0.95;*/
  align-items: center;
  text-align: center;
  display: block;
  padding-bottom: 0.25rem;
}

a:hover {
  /*opacity: 1;*/
  color: black;
}
